.key {
  font-weight: lighter;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 55px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #818384;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.key[data-key="enter"],
.key[data-key="delete"] {
  padding: 0.25rem;
}
