.key {
  border: 0;
  margin: 0 6px 0 0;
  height: 55px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #818384;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key[data-key='enter'],
.key[data-key='delete'] {
  padding: 0 0.25rem;
}
