.key-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.key-row > * {
  flex: 1;
}

#row3 > *:first-child,
#row3 > *:last-child {
  padding: 0.5rem;
}

@media only screen and (max-width: 670px) {
  #row3 > *:first-child,
  #row3 > *:last-child {
    padding: 0.25rem;
  }
}
