header h1 {
  color: white;
  font-size: 4rem;
  font-variant-caps: small-caps;
  text-align: center;
  border-bottom: 2px #3a3a3c solid;
}

main {
  max-width: 500px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.message {
  margin-top: 1rem;
  color: white;
}

#invalid {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  transition: top 400ms ease-out;
}

#invalid.active {
  opacity: 1;
  visibility: visible;
  top: 85px;
}

.keyboard {
  width: 480px;
  margin: 7% 8px 0;
}

@media screen and (max-width: 540px) {
  .keyboard {
    width: 450px;
  }
}
