.App {
  height: 100%;
}

header h1 {
  color: white;
  font-size: 4rem;
  font-variant-caps: small-caps;
  text-align: center;
  border-bottom: 2px lightgray solid;
}

main {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.message {
  margin-top: 1rem;
  color: white;
}

#invalid {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  transition: top 400ms ease-out;
}

#invalid.active {
  opacity: 1;
  visibility: visible;
  top: 85px;
}
